[Unit]
Description=Cloudflare Tunnel (Minerva Mint API)
Documentation=https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=<USER>
Group=<USER>
ExecStart=/usr/local/bin/cloudflared tunnel --config /home/<USER>/.cloudflared/config.yml run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
